<!DOCTYPE html>
<html  onscroll="aa()" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<link rel = "icon" href = "~/images/LogoTitle.svg" type = "image/x-icon">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <title>
        @* @ViewData["Title"] -  *@
        Siêu thị Nước hoa</title>
        
</head>
<body>
    <div class="slogan">
        <div class="container">
            <div class="row wrap">
                <div class="col">
                    <span class="slogan-text">Chuỗi Siêu Thị Tinh Dầu Nước Hoa Cao Cấp Dành Cho Xe Ô tô
                        <span style="margin: 0px 20px;">|</span>
                    </span>
                    <span>Hotline: 0939.98.44.98</span>
                </div>
                <div class="col">
                    <div class="search">
                        <div class="content-input">
                            <input type="text" placeholder="Tìm kiếm">
                            <div class="icon-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="logo row align-items-center">
                            <a href="">
                                <img src="~/images/Logobutterfly.svg" alt="">
                            </a>
                            <span>Butterflycar Air</span>
                        </div>
                    </div>
                    <ul class="nav-menu">
                        <li class="item"><a class="active" asp-page="/Index">Trang Chủ</a></li>
                        <li class="item"><a asp-page="/Introduce">Giới Thiệu</a></li>
                        <li class="item"><a asp-page="/BigSale">Big Sale</a></li>
                        <li class="item">
                            <a style="cursor:pointer;">Model <i style="font-size: 12px;" class="fa-solid fa-chevron-down"></i></a>
                            <ul class="subnav">
                                <li><a asp-page="/HangLouver">Kẹp cửa gió</a></li>
                                <li><a asp-page="/SetTaplo">Đặt Taplo</a></li>
                                <li><a asp-page="/Hang">Treo</a></li>
                            </ul>
                        </li>
                        <li class="item"><a asp-page="/Blog/News">Tin tức</a></li>
                        <li class="item"><a asp-page="/SalesPolicy">Chính sách bán hàng</a></li>
                    </ul>
                    <div class="hamburger" id="hamburger" onclick="addNavMobile('nav-mobile')">
                        <div class="hamburger-content">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="nav-mobile" id="nav-mobile">
                <ul class="menu">
                    <li>
                        <a class="active" asp-page="/Index">Trang Chủ</a>
                    </li>
                    <li>
                        <a class="" asp-page="/Introduce">Giới Thiệu</a>
                    </li>
                    <li class="">
                        <a asp-page="/BigSale">BIG SALE</a>
                    </li>
                    <li class="" id="btn-model">
                        <a onclick="btnModel()">MODEL <i style="font-size: 15px;" class="fa-solid fa-chevron-down"></i></a>
                        <ul class="subnav" id="sub-model">
                            <li><a asp-page="/HangLouver">Kẹp cửa gió</a></li>
                            <li><a asp-page="/SetTaplo">Đặt Taplo</a></li>
                            <li><a asp-page="/Hang">Treo</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a asp-page="/Blog/News">TIN TỨC</a>
                    </li>
                    <li class="">
                        <a asp-page="/SalesPolicy">CHÍNH SÁCH BÁN HÀNG</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>
    <div class="menu-contact">
        <a href="tel:0939984498" class="phone-call">
            <img src="~/images/phone.png" alt="">
            Đặt mua</a>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-about">
                    <h3 style="text-align: center; margin: 20px 0">Công Ty TNHH SX TM DV Thuận Phát</h3>
                    <div class="content-img">
                        <img src="~/images/Logobutterfly.svg" alt="">
                    </div>
                    <p style="font-weight: bold; font-size:16px; padding: 20px 0px; text-align:center">Butterflycar Air</p>
                    <p style="text-align: center;">
                        <a href="#" class="dmca">
                            <img src="~/images/footer/logodathongbao.png" alt="">
                        </a>
                        <a class="icon-fb" href="https://www.Facebook.com/butterflycarair">
                            <img src="~/images/footer/fb.png" alt="">
                        </a>
                    </p>
                </div>
                <div class="footer-contact">
                    <h4><i class="fa-solid fa-address-card"></i>Liên hệ</h4>
                    <div>
                        <p>
                            <a href="#">Chi nhánh 1: 59 Phó Đức Chính, P. Nguyễn Thái Bình, Quận 1, HCM <i class="glyphicon glyphicon-map-marker"></i> (click xem)<br></a>
                        </p>
                        <p>
                            <a href="#">Chi nhánh 2: 90/29 Trần Văn Ơn, P. Tân Sơn Nhì, Quận Tân Phú, HCM <i class="glyphicon glyphicon-map-marker"></i>(click xem)<br></a>
                        </p>
                        <p>
                            <a href="#">Chi nhánh 3: 118/6A Nguyễn Thị Thập, P. Bình Thuận, Q.7, HCM <i class="glyphicon glyphicon-map-marker"></i>(click xem)<br></a>
                        </p>
                        <p>
                            <a href="#">Chi nhánh 4: Số 14 Đường số 2, P. Tân Phú, Q.7, HCM <i class="glyphicon glyphicon-map-marker"></i>(click xem)<br></a>
                        </p>
                        <p>
                            Hotline: <strong><a class="hotline" style="color: white" href="tel:0939984498">  0939.98.44.98</a></strong><br>
                        </p>
                        <p>
                           Liên hệ tại hộp thư Facebook Messenger
                        </p>
                        <p>
                            GIỜ HOẠT ĐỘNG: 8h – 22h ( cả T7, CN )
                        </p>
                    </div>
                </div>
                <div class="footer-guide">
                    <h4><i class="fa-solid fa-book-open"></i>Hướng dẫn</h4>
                    <ul>
                        <li><a asp-page="/SalesPolicy">1. Chính sách bán hàng</a></li>
                        <li><a asp-page="/Order">2. Đặt hàng & Thanh toán</a></li>
                        <li><a asp-page="/InforSecurity">3. Bảo mật thông tin khách hàng</a></li>
                        <li><a asp-page="/CustomerServices">4. Dịch vụ khách hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    Địa chỉ: 59 Phó Đức Chính, Phường Nguyễn Thái Bình, Quận 1, Thành phố Hồ Chí Minh;<br>Mã số thuế: 0317345268; do Sở Kế hoạch và Đầu tư TP HCM cấp ngày 16/04/2019<br>ĐT: 09 3998 4498 - Email: butterflycarair@gmail.com
                </p>
            </div>
        </div>
    </footer>
    <script>
        function btnModel(){
            $('#sub-model').toggle(200);
        }
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>