@page
<style>

    .section-policy h2{
        text-align: center;
        padding: 20px;
    }
    .section-policy hr {
        border: 0px;
    }
     .section-policy ul {
        list-style-type: disc;
        list-style: outside;
        padding: 20px 40px;
     }
     .section-policy ul li{
        line-height: 1.5;
        font-size: 15px;
     }
     .section-policy p{
        line-height: 1.5;
        font-size: 16px;
        margin-bottom: 15px;
     }
      .section-policy span{
        line-height: 1.5;
        font-size: 16px;
     }
</style>
<section class="section-policy">
    <div class="container">
        <h2>Bảo mật thông tin khách hàng</h2>
        <hr>
        <p>
            Chúng tôi hiểu rằng quý khách rất quan tâm đến việc những thông tin cá nhân mà quý khách đã tin cậy cung cấp cho chúng tôi được bảo mật và sử dụng ra sao. Chúng tôi rất trân trọng sự tin tưởng đó và cam kết rằng những thông tin này sẽ được chúng tôi nỗ lực tối đa để bảo mật.
        </p>
        <p>
            Để sử dụng một số tính năng mua hàng của chúng tôi, quý khách cần phải cung cấp 1 số thông tin cá nhân cần thiết như họ tên, số điện thoại, địa chỉ liên hệ. Phần thủ tục đăng ký này nhằm giúp chúng tôi xác định phần thanh toán và giao hàng chính xác cho người nhận. 
        </p>
        <p>
            Chúng tôi có trách nhiệm lưu giữ đầy đủ các thông tin mà quý khách đã cung cấp. Những thông tin này được sử dụng cho mục đích phản hồi yêu cầu của khách hàng, nhằm nâng cao chất lượng hàng hóa và dịch vụ của Etonner Việt Nam. 
        </p>
        <p>
           <span>Chúng tôi biết rằng thông tin về khách hàng là một phần rất quan trọng trong việc kinh doanh và chúng sẽ không được bán, trao đổi cho một bên thứ ba nào khác.</span>
            <span>Chúng tôi sẽ không chia sẻ thông tin khách hàng trừ những trường hợp cụ thể sau đây:</span>
            <span>Theo yêu cầu pháp lý từ một cơ quan chính phủ hoặc khi chúng tôi tin rằng việc làm đó là cần thiết và phù hợp nhằm tuân theo các yêu cầu pháp lý.</span>
        </p>
        <p>
            
        </p>
        <p>
            Theo yêu cầu pháp lý từ một cơ quan chính phủ hoặc khi chúng tôi tin rằng việc làm đó là cần thiết và phù hợp nhằm tuân theo các yêu cầu pháp lý.
        </p>
        <p>
            Trong những trường hợp còn lại, chúng tôi sẽ có thông báo cụ thể cho quý khách khi phải tiết lộ thông tin cho một bên thứ ba và thông tin này chỉ được cung cấp khi được sự phản hồi đồng ý từ phía quý khách. 
        </p>
        <p>
            Chúng tôi cũng cam kết không cố ý tiết lộ thông tin khách hàng, không bán hoặc chia sẻ thông tin khách hàng vì mục đích thương mại.
        </p>
        <p>
            Chúng tôi rất quan tâm đến quyền lợi của quý khách  trong việc bảo vệ thông tin cá nhân nên trong trường hợp quý khách có góp ý, thắc mắc liên quan đến chính sách bảo mật của chúng tôi, xin vui lòng liên hệ:
        </p>
        <p>
            Hotline: <a href="tel:0904852546" style="color: red;">0904.85.25.46</a> 
        </p>
        <p>
            Email: <a href="https://butterflycarair@gmail.com"> butterflycarair@gmail.com</a> 
        </p>
    </div>
</section>