@page
<style>

    .section-policy h2{
        text-align: center;
        padding: 20px;
    }
    .section-policy hr {
        border: 0px;
    }
     .section-policy ul {
        list-style-type: disc;
        list-style: outside;
        padding: 0px 40px;
     }
     .section-policy ul li{
        line-height: 1.5;
        font-size: 15px;
     }
     P {
        line-height: 1.5;
        padding-left: 20px;
     }
     h4 {
        font-size: 15px;
        margin-top: 10px;
        line-height: 1.5;
        padding-left: 10px;
     }
     h3 {
        line-height: 1.5;
        margin-top: 10px;
        padding-left: 5px;
     }
</style>
<section class="section-policy">
    <div class="container">
        <h2>CHÍNH SÁCH THANH TOÁN VÀ ĐẶT HÀNG</h2>
        <h3>1. MUA HÀNG TRỰC TIẾP TẠI CỬA HÀNG</h3>
        <P>
            CN1: 59 Phó Đức Chính, P. Nguyễn Thái Bình, Quận 1, HCM.
        </P>
        <p>
            CN2: 90/29 Trần Văn Ơn, P. Tân Sơn Nhì, Quận Tân Phú.
        </p>
        <h3>2. MUA HÀNG ONLINE</h3>
        <p>
            Quý Khách đặt hàng ONLINE qua ZALO/FANPAGE của Butterfly Car Air. Sau khi xác nhận đơn hàng, sản phẩm sẽ được giao sớm nhất 1 ngày sau khi đặt.
        </p>
        <p>
            Chỉ áp dụng cho các tỉnh lân cận TP. Hồ Chí Minh và các tỉnh phía Nam.
        </p>
        <h3>3. HÌNH THỨC THANH TOÁN <span style="font-weight: 500;">(trường hợp mua hàng Online sẽ thanh toán COD)</span></h3>
        <h4>- Thanh toán chuyển khoản qua tài khoản Ngân hàng:</h4>
        <ul>
            <li>Ngân hàng TMCP Quốc Tế ( VIB Bank) , TK số 90 90 95555 - LIEU DINH QUANG</li>
            <li>Ngân hàng TMCP Á Châu ( ACB Bank) , TK số 90 90 90 7768 - CTY TNHH MTV SX TM DV THUẬN PHÁT.</li>
        </ul>
        <h4>
            - Thanh toán cà thẻ
        </h4>
        <h4>
            - Thanh toán tiền mặt
        </h4>
        <h4>
            - Thanh toán COD <span style="font-weight: 500;">(Giao Hàng Nhận Tiền - Hợp tác tới đối tác uy tín Giaohangtietkiem.vn, và đội ngũ giao hàng của Butterfly Car Air tại TP. Hồ Chí Minh)</span>
        </h4>
        <h3>4 . PHƯƠNG THỨC VẬN CHUYỂN</h3>
        <p>
            Butterfly Car Air luôn hướng đến dịch vụ tốt nhất cho Quý Khách với phí vận chuyển thấp nhất và hàng hóa đảm bảo nhất.
        </p>
        <h4>
            1/ Phạm vi áp dụng: Giao hàng tận nơi với các đối tác uy tín như giaohangtietkiem.vn hoặc đội ngũ giao hàng của Butterfly Car Air tại Tp. Hồ chí minh.
        </h4>
        <h4>
            2/ Đối tượng áp dụng: Khách hàng đặt hàng ONLINE trên trang FANPAGE/ZALO của Butterfly Car Air
        </h4>
        <h4>
            3/ Thời gian nhận hàng:
        </h4>
        <p>
            Đối với đơn hàng Online tại TPHCM, sản phẩm sẽ được giao sớm nhất là 1 ngày sau khi đặt.
        </p>
        <h4>
            4/ Cước phí vận chuyển
        </h4>
        <p>
            Miễn phí vận chuyển cho đơn hàng giá trị > 700.000 VNĐ ( Nội Thành) và > 1.800.000 VNĐ ( Ngoại Thành ).
        </p>
        <p>
            Đối với đơn hàng vận chuyển nhanh trong <strong style="font-size: 14px;">24h ( Chỉ áp dụng cho khu vực Tp. Hồ Chí Minh).</strong>
        </p>
        <h4>
            Đối với đơn hàng CHƯA ĐỦ mức miễn phí vận chuyển thì phí sẽ được áp dụng như sau:
        </h4>
        <h4>
            Đơn vận chuyển nhanh trong ngày:
        </h4>
        <p>
            Nhân viên Butterfly Car Air sẽ liên hệ thông báo Phí vận chuyển nhanh cho Khách hàng trước khi xác nhận đơn hàng. Phí Vận Chuyển sẽ được tính theo phí của Grab Express.
        </p>
        <h4>
            Đơn vận chuyển thường:
        </h4>
        <p>
            Đối tác Giaohangtietkiem.vn sẽ mang sản phẩm đến tận tay Quý Khách với mức phí:
        </p>
        <style>
            .table {
                border: 1px solid #ccc;
                display: flex;
                flex-direction: column;
            }
             .table  {
                width: 345px;
             }
            .table-item {
                flex-direction: row;
                display: flex;
                border-bottom: 1px solid #ccc;
            }
            .table-item p{
                padding: 6px;
            }
            .cell-1 {
                width: 60px;
                font-weight: bold;
                border-right: 1px solid #ccc;
            }
            .cell-2 {
                border-right: 1px solid #ccc;
                width: 150px;
                padding: 5px;
            }
            .cell-3 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 285px;
            }
            .cell-3 div:first-child{
                padding: 5px;
                text-align: center;
                border-bottom: 1px solid #ccc;
                font-weight: bold;
                width: 100%;
            }
            .cell-3 div:last-child{
                border-left: 1px solid #ccc;
            }
            .cell-4{
                width: 133px;
                padding: 5px;
            }
            th,td {
                padding: 10px;
                border: 1px solid #ccc;
            }
            span {
                padding: 5px;
            }
        </style>
        <div class="table">
            <div class="table-item">
                <div class="cell-1">
                    <p>
                        Khu vực
                    </p>
                </div>
                <div class="cell-3">
                    <div>Giao hàng tiết kiệm</div>
                    <div class="cell-2">Thời gian dự kiến ( Không kể Thứ 7 & CN)</div>
                    <div class="cell-4">Phí Ship ( VNĐ)</div>
                </div>
            </div>
            <div class="table-item">
                <div class="cell-1">
                    <p>
                        Miền Nam
                    </p>
                </div>
                <div class="cell-2">
                    <p>
                       2 đến 3 ngày
                    </p>
                </div>
                <div class="cell-4">
                    <p>
                      30.000đ - 50.000đ
                    </p>
                </div>
            </div>
            <div class="table-item">
                <div class="cell-1">
                    <p>
                        Hồ Chí Minh
                    </p>
                </div>
                <div class="cell-2">
                    <p>
                      1 đến 2 ngày
                    </p>
                </div>
                <div class="cell-4">
                    <p>
                       15.000đ - 30.000đ
                    </p>
                </div>
            </div>
            <div class="table-item">
                <p>
                    - Áp dụng cho kiện hàng 1kg trở xuống
                </p>
            </div>
        </div>
        <p>
            Trường hợp không liên lạc được thì gói hàng của bạn sẽ được hoàn về cửa hàng cho đến khi đã xác nhận được với quý khách.
        </p>
        <h4>
            Khi nhận hàng, quý khách VUI LÒNG KIỂM TRA ĐẦY ĐỦ:
        </h4>
        <ul>
            <li>Hoá đơn</li>
            <li>Tên hàng</li>
            <li>Sản phẩm</li>
        </ul>
        <p>(Vui lòng giữ hoá đơn và không sử dụng sản phẩm đối với các trường hợp đổi trả.)</p>

    </div>
</section>