@page
<style>

    .section-policy h2{
        text-align: center;
        padding: 20px;
    }
    .section-policy hr {
        border: 0px;
    }
     .section-policy ul {
        list-style-type: disc;
        list-style: outside;
        padding: 20px 40px;
     }
     .section-policy ul li{
        line-height: 1.5;
        font-size: 15px;
     }
</style>
<section class="section-policy">
    <div class="container">
        <h2>CHÍNH SÁCH BÁN HÀNG</h2>
        <h3>1. Cam kết bảo hành</h3>
        <ul>
            <li>Butterfly Car Air cam kết mùi hương của sản phẩm không thay đổi trong suốt quá trình sử dụng.</li>
            <li>Cam kết hoàn tiền 100% nếu hàng hóa kém chất lượng.</li>
            <li>Cam kết bảo hành đối với tất cả các khách hàng mua sản phẩm tại các điểm bán hàng của Butterfly Car Air.</li>
        </ul>
        <h3>2. Chính sách bảo hành</h3>
        <ul>
            <li>Khi mua hàng, Quý Khách vui lòng kiểm tra kỹ sản phẩm trước khi mua hàng: sản phẩm phải có đầy đủ tem niêm yết của Butterfly Car Air, hộp có bọc nilon niêm phong của nhà sản xuất</li>
            <li>Sản phẩm được đổi trả trong vòng 07 ngày kể từ ngày mua sản phẩm với điều kiện sản phẩm còn nguyên hộp có tem niêm yết của nhà phân phối và các phụ kiện kèm theo.</li>
            <li>Nếu phát hiện kiện hàng bị hư hỏng do quá trình vận chuyện , quý khách vui lòng không nhận hàng và liên hệ ngay tới số Hotline của Chúng tôi để phản hồi kịp thời.</li>
            <li>Không bảo hành đối với các sản phẩm không phải do Butterfly Car Air bán ra <hr>( Không có hóa đơn mua hàng hoặc không còn giữ tem niêm yết của nhà phân phối).</li>
            <li>Không bảo hành đối với các sản phẩm bị rơi vỡ do người sử dụng.</li>
        </ul>
        <h3>3. Chính sách đổi trả</h3>
        <ul>
            <li>Đối với khách hàng đến cửa hàng: Quý khách vui lòng mang sản phẩm đến cửa hàng đã mua sản phẩm đó để được giải quyết nhanh chóng</li>
            <li>Đối với khách hàng xa, đổi trả Online: Khách gửi hàng về địa chỉ đã mua hàng. Sau đó Butterfly Car Air gửi lại sản phẩm mới mà không phải chịu phí ship khi nhận hàng.</li>
        </ul>
    </div>
    <script>
        var index = 5;
        var navItem = document.querySelectorAll(".navbar .nav-menu> .item> a");
        for(var i=0;i<navItem.length;i++){
            navItem[i].className ='';
            if(i==index){
                 navItem[i].className ='active';
            }
        }
        var navMobileItem = document.querySelectorAll(".nav-mobile > .menu> li> a");
        for(var i=0;i<navMobileItem.length;i++){
            navMobileItem[i].className ='';
            if(i==index){
                 navMobileItem[i].className ='active';
            }
        }
    </script>
</section>