@page
@model ButterflyCarair.Pages.Account.LoginModel
<div class="form-signin border">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Đăng nhập</h1>

    <div class="form-floating">
      <input type="text" asp-for="Input.UserName" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Nhập tài khoản</label>
    </div>
    <div class="form-floating">
      <input type="password" asp-for="Input.Password" class="form-control" id="floatingInput" placeholder="Password">
      <label for="floatingPassword">Mật khẩu</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" asp-for="Input.IsRemember"> Nhớ Tài Khoản
      </label>
    </div>
    <div>
      <span asp-validation-for="Input.UserName" class="text-danger"></span>
      <span asp-validation-for="Input.Password" class="text-danger"></span>
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng nhập</button>
  </form>
</div>
<style>
    .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 50px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>